.contenthome{
    display: grid;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows: 10% 9% 6% 67% 6%;
}


.scrollstyle{
    overflow-y: scroll;
}
.scrollstyle::-webkit-scrollbar{ 
   
    width: 5px;

}
.scrollstyle::-webkit-scrollbar-track{
    background: white;
}

.scrollstyle::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.216);
}