/* HERRAMIENTAS DEL CLIENTE AGREGADO*/

.tools{
    font-size: 15px;
    cursor: pointer;
    transition: all 300ms ease;

}
.tools:hover{
    transform: scale(1.7);
}


.displayN{
    display: none;
}

.contBoton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contBotonMobil{
    display: flex;
    position: relative;
    min-width: 30px;
    flex-direction: column;
    align-items: center;   
}
.contentDesk{
 display: none;
}

.btnDiseñoDesk{
   cursor: pointer;
   transition: all ease 300ms;
}

.btnDiseñoDesk:hover{
    background: rgb(153, 153, 153);
    transform: scale(1.1);
    border-radius: 10px;

}
/* contenedor botones usuarios movil*/
.btnCreditsUser{
    position: absolute;
    display: flex;
    height: 60px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
    transition: all 300ms ease;
    z-index: 1;
    background: rgb(179, 179, 179);
    border-radius: 10px;
    right: -45px;
    width: 100vw;
   
}

/* configuracion botones */
/*.historial{
    display: flex;
}
*/
.valorCred{
    width: 10%;
}

.btnDiseño{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 200ms;
   
}

.btnDiseñoI{
    
    width: 20px;
    height: 20px;
}
.btnDiseño:hover{
    cursor: pointer;
    box-shadow: rgba(92, 22, 22, 0.646) 0px 4px 8px 1px ;
    transform: scale(1.2);
  
}

.esconderbtnUser{
   height: 0px;
   overflow: hidden;
   transition: all 300ms ease;
}

.contTable .botoneshis:hover, .btnGlob:hover, .delet:hover{
    background: crimson;
    border-radius: 10px;
    transform: scale(1.1);  
    cursor: pointer;
    transition: all 100ms ease;
    
}

.contTable .botoneshisEdit:hover, .sumar:hover{
    background:mediumseagreen;
    border-radius: 10px;
    transform: scale(1.1);  
    cursor: pointer;
    transition: all 100ms ease;
    
}

/*contenedor historial */

.historial:hover{
    background:rgb(117, 117, 210);
    border-radius: 10px;
    transform: scale(1.1);  
    cursor: pointer;
    transition: all 100ms ease;
    
}

.abonar:hover{
    background:rgb(90, 179, 60);
    border-radius: 10px;
    transform: scale(1.1);  
    cursor: pointer;
    transition: all 100ms ease;
}



@media (max-width: 700px) {
   
    .historial:hover{
    cursor: pointer;
    background:none;
    transform: scale(1.2);
}

.abonar:hover{
    background: none;
    transform: scale(1.5);
}
}

/* menu historial config */

.contentHistory{
    position: absolute;
    width: 80%;
    height: 350px;
    padding: 10px;
    margin: auto;
    top: 40%;
    background-color: white;
    display: flex;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.216) 0px 5px 16px 5px ;
}
.contTable thead tr{
    border: none;
    background-color: rgb(255, 255, 255);
}

.contTable tbody tr td{
    border: none;
    background-color:white;
}

.contTable table thead tr th{
    border: none;
}



/* con figuracion tabla */
.contTable{
    overflow-y: hidden;
    height: 90%;
}


.contTable tbody tr td{
padding-bottom: 10px;
}

.closeRecord{
    display: none;
}



/* content add record styles*/

.c-p{
    cursor: pointer;
}
.contaddrecord{
    width: 50%;
    min-height: 20%;
    top:45%;
    left: 30%;
    padding: 7px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.475) 0px 5px 10px 5px ;
}

.formaddrecord{
    width: 65%;
    margin: auto;
}



.botonesHistorial{
    display: flex;
    width: 75%;
    height: 50px;
    align-items: center;
    padding: 2px;   
}

.historial2{
    width: 50%;
    height: 100%;
    display: flex;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;    
}
.historial1{
    width: 50%;
    height: 100%;
    display: flex;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}

.historial1:hover, .historial2:hover{
    background-color: #1c61e0b0;
}

.tabla-1, .tabla-2{
    height: 100%;
}

.valor-tabla2{
    bottom: 0;
    padding: 5px;
    position: absolute;
    margin: 10px;
    right: 0;
    height: 10%;
    background: whitesmoke;
}

.valor-tabla1{
    bottom: 0;
    background: whitesmoke;
    position: absolute;
    margin: 10px;
    height: 10%;
    padding: 5px;
}

@media (min-width: 700px) {
        .botonesHistorial{
            display: none;
        }

        
}

@media (max-width:700px) {
    .ocultar{
        display: none;
    }
       .contaddrecord{
        width: 100%;
        height: 30%;
        left: 0;

       }   
       
       .edit, .delet, .sumar, .abonar{
        width: 25px;
        height: 25px;
        margin: auto;
    }
    
    .edit:hover, .delet:hover:hover, .sumar:hover, .abonar:hover{
        transform: scale(1.5);
        background:none;
    }

    .contentHistory{
        width: 100%;
        height: 50%;
    }

    .contTable{
        display: flex;
        flex-direction: column;
    }

}


